$colorWhite:#ffffff;
$colorDark:#000000;
$colorBlack:#2A3437;
$colorGray4:#4B5A5F;
$colorGray4Hover:#607075;
$colorGray3:#89999E;
$colorGray2:#BDCBCF;
$colorGray1:#E5EDEF;
$colorGray0:#F5FBFD;
$mainDark:#12CEFF;
$mainColor:#0A97BC;
$mainHover:#3fc2e3;
$colorNav:#03161D;
$colorBase:#006542;
$colorText:#252525;
$colorBlue:#232324;
$colorSecText:#7a7a7a;


$fontUn:'Pacifico', cursive;
$fontInter:'Poppins', sans-serif;

$witebg:rgba(51, 66, 72, 1);
$body:#1D2E34;
$darkShadov: 0px 9px 18px rgba(0, 0, 0, 0.25);